<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta lang="en-US">
    <title>Content Administration</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="loaded">Loaded Media</a>
        <a href="unloaded">Unloaded Media</a>
        <a href="unsupported">Unsupported Media</a>
        <a href="#">Settings</a>
    </div>

    {% block content %}
    {% endblock content %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>